<header>
  <div class="header_box">
    <%= link_to blogs_path do %>
      <%= image_tag "pachi_icon.png", class: 'pachi_icon' %>
    <% end %>
    <%= image_tag "header_border.png", class: 'header_border' %>
    <%= link_to blogs_path do %>
      <%= image_tag "pachi_letter_logo.png", class: 'pachi_letter_logo' %>
    <% end %>

    <span><%= image_tag "search_icon.png", class: 'search_icon' %>検索</span>
    <%= image_tag "compass_img.png", class: 'compass_img' %>
    <%= image_tag "heart_img.png", class: 'heart_img' %>
    <%= link_to user_path(current_user.id) do %>
      <%= image_tag "user_img.png", class: 'user_img' %>
    <% end %>
  </div>
</header>

<main>
<h3>以下の内容でシェアしますか？</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><%= @blog.content %></p>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
  <br>
  <br>
  <%= form.submit "シェアする", class: 'btn btn-primary' %>
  <br>
  <br>
  <%= form.submit "戻る", name: 'back', class: 'btn btn-primary' %>
<% end %>
</main>
