<h1><%= @user.name %>のお気に入り一覧</h1>
<br>
<br>
<br>
<table>

<% @favorites.each do |favorite| %>
  <% if current_user.id == favorite.user_id %>
  <tr>
    <td>投稿者→<%= link_to "#{favorite.user.name}", user_path(favorite.user.id) %></td>
    <td>投稿日→<%= favorite.user.created_at.try(:strftime,"%m月%d日") %></td>
    <td>文章→<%= favorite.blog.content %></td>
    <td><%= link_to '詳細', blog_path(favorite.blog.id) %></td>
    <% if current_user.id == favorite.user.id %>
    <td><%= link_to "編集", edit_blog_path(favorite.blog.id) %></td>
    <td>
      <%= link_to '削除', blog_path(favorite.blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td>
      <% if favorite.blog.image.file.nil? %>
        <% else %>
        <%= image_tag favorite.blog.image.url %>
      <% end %>
    </td>
  <% end %>
<% end %>

</table>